%section
  %ul.list_ul_small
    %li
      %a{href: "/sps/webfood/RestList?aid=13992&wechatid=oFovYjnOOxbqZltEjIamrIylrNak&v=352bbf543d1cf0477d069543488206db&wxref=mp.weixin.qq.com&wxref=mp.weixin.qq.com"}
        %label 在线订餐
    %li
      %a{href: "/userinfo/index?id=2299&pid=13992&bid=5231&wechatid=oFovYjnOOxbqZltEjIamrIylrNak&wxref=mp.weixin.qq.com"}
        %label 加入会员
    %li
      %a{href: "/sps/webfood/RestList?aid=13992&wechatid=oFovYjnOOxbqZltEjIamrIylrNak&v=352bbf543d1cf0477d069543488206db&wxref=mp.weixin.qq.com&wxref=mp.weixin.qq.com"}
        %label 我的订单
    %li
      %a{href: "/weisite/list?pid=13992&bid=5231&wechatid=oFovYjnOOxbqZltEjIamrIylrNak<id=21047&wxref=mp.weixin.qq.com"}
        %label 特色服务