$('.recommend').hide();
$('.submit').hide();
$('.modal-title').hide();
$('.feed-title').prepend("信息已提交，等待核实");
$('.feedback').prepend("<p>感谢您通过小区黄页发布周边商业及服务信息，发布基本商业信息是免费的。为保证信息准确度，工作人员将在下一个工作日内联系商家电话完成准确性核实，请您请关注商家管理专用微信公众号<b>赋为网络科技</b>，并在公众账号中发送您的店铺名称，我们将为您免费提供黄页管理指南，您将可以实时收到顾客的访问情况。 如需帮助请致电#{@instance.try(:phone)}或联系在线客服</p>")
