/////////////////////////////////
/// 钟点工:    datetime_address
/// 外卖或堂食: nodate_optianl_address
/// 订位或客房: datetime_noaddress
/////////////////////////////////

= render "westore/orders/forms/#{@store.time_setting}_#{@store.address_setting}"