%ul.breadcrumb
  %li
    = link_to '首页', root_path
    %span.divider
  %li
    = link_to '订单管理', platform_orders_path
    %span.divider
  %li.active
    订单编辑

.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        %h3.panel-title 订单信息
      .panel-body
        = render 'form'

  / .col-md-3
  /   .panel.panel-default
  /     .panel-heading
  /       %h3.panel-title 控制面板
  /     .panel-body
  /       = render 'control_panel'