.price
  %section.r1
    %h1 服务类型
  %section.r2
    .container
      .row
        #pricing-table.clear.col-md-10.col-md-offset-1.col-xs-12
          .row
            .plan.col-xs-3
              %h3
                %span 服务
              %button.btn.btn-warning 价格
              %ul
                %li 适用客户
                %li 免费试用
                %li 有效期限
                %li 免费升级
                %li 商店数量
                %li 商品订单
                %li 地域保护
                %li 技术分销
                %li 技术支持
                %li 运营培训
                %li 推广服务
                %li 配套设备
                %li 推广礼包*
            .plan.col-xs-2
              %h3
                %span 商家版
              %button.btn.btn-warning ￥1800
              %ul
                %li 商家自营首选
                %li 7天
                %li 1年
                %li 1年
                %li 单店
                %li 不限
                %li
                  %i.fa.fa-times
                %li
                  %i.fa.fa-times
                %li 远程
                %li 远程
                %li
                  %i.fa.fa-times
                %li
                  %i.fa.fa-times
                %li 永久展示免费
            .plan.col-xs-2
              %h3
                %span 创业版
              %button.btn.btn-warning ￥1280
              %ul
                %li 仅供在校学生
                %li 7天
                %li 1年
                %li 1年
                %li 100
                %li 20000订单
                %li
                  %i.fa.fa-times
                %li
                  %i.fa.fa-times
                %li 远程
                %li 远程
                %li 电子模板
                %li
                  %i.fa.fa-times
                %li 500次福彩
            #most-popular.plan.col-xs-3
              %h3
                %span 商业版
              %button.btn.btn-warning ￥5000
              %ul
                %li 个人创业必择
                %li 7天
                %li 1年
                %li 1年
                %li 500
                %li 不限
                %li 3km 直径
                %li
                  %i.fa.fa-check
                %li 远程
                %li 远程
                %li 电子模板
                %li 1台无线打印
                %li 1000次福彩；市场价值5000元的推广物料
            .plan.col-xs-2
              %h3
                %span 旗舰版
              %button.btn.btn-warning ￥20000
              %ul
                %li 团队创业首选
                %li 7天
                %li 3年
                %li 3年
                %li 不限
                %li 不限
                %li 5km 直径
                %li
                  %i.fa.fa-check
                %li 远程
                %li 远程+现场
                %li 每月定制设计
                %li 5台无线打印机
                %li 3000次福彩;市场价值30000元的推广物料