.body
  %section
    %article
      %h2 请先返回微信发送地理位置! 谢谢
      %br/
      %h2 具体步骤如下
      %h3 第一步
      = image_tag "static/westore_help/00_pic.jpg", class: "img-responsive"
      %h3 第二步
      = image_tag "static/westore_help/01_pic.jpg", class: "img-responsive"
      %h3 第三步
      = image_tag "static/westore_help/02_pic.jpg", class: "img-responsive"
      %h3 第四步
      = image_tag "static/westore_help/03_pic.jpg", class: "img-responsive"