%h5 您的报名材料已经收到，请等候组委会通知

.panel.panel-primary
  .panel-heading 姓名
  .panel-body
    = @pearl.name

.panel.panel-success
  .panel-heading 电子邮箱
  .panel-body
    = @pearl.email



.panel.panel-info
  .panel-heading 电话
  .panel-body
    = @pearl.phone


.panel.panel-warning
  .panel-heading 学校
  .panel-body
    = @pearl.tutor
