%p 尊敬的用户，您好！
%p 您好！
%p
%p
  感谢您的支持，请点击下方链接重设
  = @resource.email
  在赋为O2O平台的帐户密码
%p= link_to '重置密码', edit_user_password_url(:reset_password_token => @token)
%p （如果上面的链接不能点击，请将下面的地址复制到浏览器的地址栏后访问）
%p= edit_user_password_url(:reset_password_token => @token)
%p
%p 您在使用过程中，若需帮助，请联系客服，我们必竭诚为您服务。
%p
%p 4000432013
%p www.fooways.com
%p 赋为 - 社区O2O创业首选
%p
%p 赋为是中国领先的社区生活服务平台，向社区服务运营商及创业者提供从技术平台到运营培训、投资融资等全方位的服务。
%p
%p 本邮件由系统自动发送，请勿直接回复！
