<table id='forums' class='forums table table-striped' cellspacing='0'>
  <thead>
  <tr>
    <th class="desc-and-last-post"><i class="fa fa-sitemap"></i></th>
    <th class="topics-count"><i class="fa fa-files-o"></i></th>
    <th class="posts-count"><i class="fa fa-reply-all"></i></th>
    <th class="views-count"><i class="fa fa-eye"></i></th>
  </tr>
  </thead>
  <tbody>
    <%= render category.forums %>
  </tbody>
</table>
