%nav.navbar.navbar-default.navbar-fixed-top{ role: "navigation" }
  .container
    .navbar-header
      = link_to image_tag('fooways_logo4.png'), main_app.root_path, :class => 'brand'
      %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#navbar-main"}}
        - 3.times do
          %span.icon-bar

    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav
        / %li= link_to '杉树计划活动首页', '#'#main_app.misc_pearls_path
        %li= link_to '报名', main_app.new_misc_pearl_path