<div class="contact">
  <div>
    <script type="text/javascript">
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ffb341c8a5635598c10d3e090d76057e3' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <div id="BDBridgeFixedWrap" style="margin: 10px auto"></div>
  </div>
  <div class="arrow-left">
    <h3>咨询</h3>
    <i class="fa fa-comments-o"></i>
  </div>
  <div class="phone">
    <h4>联系电话: </h4>
    <p><i class="fa fa-phone-square"></i> 4000432013</p>
  </div>
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=527618010&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:527618010:53" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
</div>
