#footer
  %span © 2014 赋为·社区O2O创业首选
  %span
    %a{href: "tel:4000432013"}4000432013
    = link_to "诚聘英才", main_app.forum_path("join")
    %a{href: "mailto:support@fooways.com", target: "_blank"} 邮件: support@fooways.com
    %a{href: "http://wpa.qq.com/msgrd?v=3&uin=527618010&site=qq&menu=yes", target: "_blank"} 扣扣: 527618010
    %a{href: "http://www.miibeian.gov.cn/"}粤ICP备14000918号-
    %a{href: "http://www.fooways.com/forums/"}1
    /%a{href: "http://wp.fooways.com/about.pdf", target: "_blank"}> 关于赋为
    / | 
    /= succeed "\u{a0}|\u{a0}" do
    /  %a{href: "http://wp.fooways.com/about.pdf", target: "_blank"} 服务协议
    /= succeed "\u{a0}|\u{a0}" do
    /  %a{href: "http://wp.fooways.com/about.pdf", target: "_blank"} 常见问题
    / <a target="_blank" href="weixin://addfriend/weisell">公众帐号</a>
